In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [3]:
%cd /content/gdrive/MyDrive/0. 최종 프로젝트/데이터 탐색/

/content/gdrive/MyDrive/0. 최종 프로젝트/데이터 탐색

In [4]:
import pandas as pd

In [5]:
import os

In [6]:
df = pd.read_csv("physionet2012_train.csv")
valid_df = pd.read_csv("physionet2012_valid.csv")
test_df = pd.read_csv("physionet2012_test.csv")

In [7]:
## labeling
## train_data
#df['labels'] = 0
#df.loc[(2 <= df['survival'])&(df['survival'] <= df['LOS']), 'label'] = 1
#df.loc[df['survival'] > df['LOS'], 'label'] = 0
#df.loc[df['survival'] == -1, 'label'] = 0
#
## valid_data
#valid_df['labels'] = 0
#valid_df.loc[(2 <= valid_df['survival'])&(valid_df['survival'] <= valid_df['LOS']), 'label'] = 1
#valid_df.loc[valid_df['survival'] > valid_df['LOS'], 'label'] = 0
#valid_df.loc[valid_df['survival'] == -1, 'label'] = 0
#
## test_data
#test_df['labels'] = 0
#test_df.loc[(2 <= test_df['survival'])&(test_df['survival'] <= test_df['LOS']), 'label'] = 1
#test_df.loc[test_df['survival'] > test_df['LOS'], 'label'] = 0
#test_df.loc[test_df['survival'] == -1, 'label'] = 0

In [8]:
df.head()

,Unnamed: 0,pid,rec_time,age,Gender,ICUType,ALP,ALT,AST,Albumin,...,pH,MechVent,survival,SBP,DBP,MBP,male,female,surv_los,LOS
0,0,142219,0:00:00,52.0,0.0,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,-1,116.0,58.0,77.0,1,0,-8,7
1,1,142219,0:44:00,52.0,0.0,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,-1,116.0,58.0,77.0,1,0,-8,7
2,2,142219,1:14:00,52.0,0.0,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,-1,0.0,0.0,224.0,1,0,-8,7
3,3,142219,1:44:00,52.0,0.0,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,-1,0.0,0.0,135.0,1,0,-8,7
4,4,142219,1:54:00,52.0,0.0,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,-1,217.0,108.0,133.0,1,0,-8,7

In [9]:
input_cols = [x for x in df.columns if x not in ['Unnamed: 0','pid','rec_time','age','Gender','ICUType','male','female','surv_los','LOS','survival', 'Tropl', 'TropT']]
input_cols_valid = [x for x in valid_df.columns if x not in ['Unnamed: 0','pid','rec_time','age','Gender','ICUType','male','female','surv_los','LOS','survival', 'Tropl', 'TropT']]
input_cols_test = [x for x in test_df.columns if x not in ['Unnamed: 0','pid','rec_time','age','Gender','ICUType','male','female','surv_los','LOS','survival', 'Tropl', 'TropT']]

In [10]:
for col in input_cols:
    df[f'{col}_mask'] = pd.isna(df[col]).apply(lambda x: 0 if x==1 else 1)
    valid_df[f'{col}_mask'] = pd.isna(valid_df[col]).apply(lambda x: 0 if x==1 else 1)
    test_df[f'{col}_mask'] = pd.isna(test_df[col]).apply(lambda x: 0 if x==1 else 1)

In [11]:
train_processed = pd.read_csv('train_preprocessing_done.csv')
va_processed = pd.read_csv('valid_preprocessing_done.csv')
test_processed = pd.read_csv('test_preprocessing_done.csv')

In [12]:
train_processed.columns

Index(['pid', 'age', 'Gender', 'ALP', 'ALT', 'AST', 'Albumin', 'BUN',
       'Bilirubin', 'Cholesterol', 'Creatinine', 'FiO2', 'GCS', 'Glucose',
       'HCO3', 'HCT', 'HR', 'K', 'Lactate', 'Mg', 'Na', 'PaCO2', 'PaO2',
       'Platelets', 'RR', 'SPO2', 'BT', 'TroponinI', 'TroponinT', 'Urine',
       'WBC', 'pH', 'MechVent', 'survival', 'SBP', 'DBP', 'MBP', 'male',
       'female', 'surv_los', 'LOS', 'labels', 'ICUType_1.0', 'ICUType_2.0',
       'ICUType_3.0', 'ICUType_4.0'],
      dtype='object')

In [13]:
for col in input_cols:
    mask_col = col+'_mask'
    train_processed[mask_col] = df[mask_col]
    va_processed[mask_col] = df[mask_col]
    test_processed[mask_col] = df[mask_col]

In [14]:
df['HR_mask']

0         1
1         1
2         1
3         1
4         1
         ..
242608    1
242609    1
242610    1
242611    1
242612    1
Name: HR_mask, Length: 242613, dtype: int64

In [15]:
input_cols

['ALP',
 'ALT',
 'AST',
 'Albumin',
 'BUN',
 'Bilirubin',
 'Cholesterol',
 'Creatinine',
 'FiO2',
 'GCS',
 'Glucose',
 'HCO3',
 'HCT',
 'HR',
 'K',
 'Lactate',
 'Mg',
 'Na',
 'PaCO2',
 'PaO2',
 'Platelets',
 'RR',
 'SPO2',
 'BT',
 'TroponinI',
 'TroponinT',
 'Urine',
 'WBC',
 'pH',
 'MechVent',
 'SBP',
 'DBP',
 'MBP']

In [16]:
train_processed

,pid,age,Gender,ALP,ALT,AST,Albumin,BUN,Bilirubin,Cholesterol,...,BT_mask,TroponinI_mask,TroponinT_mask,Urine_mask,WBC_mask,pH_mask,MechVent_mask,SBP_mask,DBP_mask,MBP_mask
0,142219.0,52.0,0.0,82.0,43.0,63.0,2.9,20.0,0.9,154.0,...,1,0,0,0,0,0,0,1,1,1
1,142219.0,52.0,0.0,82.0,43.0,63.0,2.9,20.0,0.9,154.0,...,1,0,0,1,0,0,0,1,1,1
2,142219.0,52.0,0.0,82.0,43.0,63.0,2.9,20.0,0.9,154.0,...,1,0,0,0,0,0,0,1,1,1
3,142219.0,52.0,0.0,82.0,43.0,63.0,2.9,20.0,0.9,154.0,...,1,0,0,0,0,0,0,1,1,1
4,142219.0,52.0,0.0,82.0,43.0,63.0,2.9,20.0,0.9,154.0,...,1,0,0,1,0,0,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226795,138581.0,53.0,1.0,82.0,43.0,63.0,2.9,18.0,0.9,154.0,...,1,0,0,0,0,1,0,1,1,1
226796,138581.0,53.0,1.0,82.0,43.0,63.0,2.9,18.0,0.9,154.0,...,1,0,0,1,0,0,0,1,1,1
226797,138581.0,53.0,1.0,82.0,43.0,63.0,2.9,18.0,0.9,154.0,...,1,0,0,0,0,0,0,1,1,1
226798,138581.0,53.0,1.0,82.0,43.0,63.0,2.9,18.0,0.9,154.0,...,1,0,0,1,0,0,0,1,1,1
226799,138581.0,53.0,1.0,82.0,43.0,63.0,2.9,18.0,0.9,154.0,...,1,0,0,0,0,0,0,1,1,1

In [17]:
columns_name= train_processed.columns

In [18]:
train_processed.iloc[:,:100]

,pid,age,Gender,ALP,ALT,AST,Albumin,BUN,Bilirubin,Cholesterol,...,BT_mask,TroponinI_mask,TroponinT_mask,Urine_mask,WBC_mask,pH_mask,MechVent_mask,SBP_mask,DBP_mask,MBP_mask
0,142219.0,52.0,0.0,82.0,43.0,63.0,2.9,20.0,0.9,154.0,...,1,0,0,0,0,0,0,1,1,1
1,142219.0,52.0,0.0,82.0,43.0,63.0,2.9,20.0,0.9,154.0,...,1,0,0,1,0,0,0,1,1,1
2,142219.0,52.0,0.0,82.0,43.0,63.0,2.9,20.0,0.9,154.0,...,1,0,0,0,0,0,0,1,1,1
3,142219.0,52.0,0.0,82.0,43.0,63.0,2.9,20.0,0.9,154.0,...,1,0,0,0,0,0,0,1,1,1
4,142219.0,52.0,0.0,82.0,43.0,63.0,2.9,20.0,0.9,154.0,...,1,0,0,1,0,0,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226795,138581.0,53.0,1.0,82.0,43.0,63.0,2.9,18.0,0.9,154.0,...,1,0,0,0,0,1,0,1,1,1
226796,138581.0,53.0,1.0,82.0,43.0,63.0,2.9,18.0,0.9,154.0,...,1,0,0,1,0,0,0,1,1,1
226797,138581.0,53.0,1.0,82.0,43.0,63.0,2.9,18.0,0.9,154.0,...,1,0,0,0,0,0,0,1,1,1
226798,138581.0,53.0,1.0,82.0,43.0,63.0,2.9,18.0,0.9,154.0,...,1,0,0,1,0,0,0,1,1,1
226799,138581.0,53.0,1.0,82.0,43.0,63.0,2.9,18.0,0.9,154.0,...,1,0,0,0,0,0,0,1,1,1

In [19]:
#mms = MinMaxScaler()
#mms.fit(train_processed)
#X_train = mms.transform(train_processed)

In [20]:
#pd.DataFrame(X_train, columns=train_processed.columns)

In [21]:
train_processed

,pid,age,Gender,ALP,ALT,AST,Albumin,BUN,Bilirubin,Cholesterol,...,BT_mask,TroponinI_mask,TroponinT_mask,Urine_mask,WBC_mask,pH_mask,MechVent_mask,SBP_mask,DBP_mask,MBP_mask
0,142219.0,52.0,0.0,82.0,43.0,63.0,2.9,20.0,0.9,154.0,...,1,0,0,0,0,0,0,1,1,1
1,142219.0,52.0,0.0,82.0,43.0,63.0,2.9,20.0,0.9,154.0,...,1,0,0,1,0,0,0,1,1,1
2,142219.0,52.0,0.0,82.0,43.0,63.0,2.9,20.0,0.9,154.0,...,1,0,0,0,0,0,0,1,1,1
3,142219.0,52.0,0.0,82.0,43.0,63.0,2.9,20.0,0.9,154.0,...,1,0,0,0,0,0,0,1,1,1
4,142219.0,52.0,0.0,82.0,43.0,63.0,2.9,20.0,0.9,154.0,...,1,0,0,1,0,0,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226795,138581.0,53.0,1.0,82.0,43.0,63.0,2.9,18.0,0.9,154.0,...,1,0,0,0,0,1,0,1,1,1
226796,138581.0,53.0,1.0,82.0,43.0,63.0,2.9,18.0,0.9,154.0,...,1,0,0,1,0,0,0,1,1,1
226797,138581.0,53.0,1.0,82.0,43.0,63.0,2.9,18.0,0.9,154.0,...,1,0,0,0,0,0,0,1,1,1
226798,138581.0,53.0,1.0,82.0,43.0,63.0,2.9,18.0,0.9,154.0,...,1,0,0,1,0,0,0,1,1,1
226799,138581.0,53.0,1.0,82.0,43.0,63.0,2.9,18.0,0.9,154.0,...,1,0,0,0,0,0,0,1,1,1

In [22]:
train_processed['survival']

0         -1.0
1         -1.0
2         -1.0
3         -1.0
4         -1.0
          ...
226795    17.0
226796    17.0
226797    17.0
226798    17.0
226799    17.0
Name: survival, Length: 226800, dtype: float64

In [23]:
train_processed.columns

Index(['pid', 'age', 'Gender', 'ALP', 'ALT', 'AST', 'Albumin', 'BUN',
       'Bilirubin', 'Cholesterol', 'Creatinine', 'FiO2', 'GCS', 'Glucose',
       'HCO3', 'HCT', 'HR', 'K', 'Lactate', 'Mg', 'Na', 'PaCO2', 'PaO2',
       'Platelets', 'RR', 'SPO2', 'BT', 'TroponinI', 'TroponinT', 'Urine',
       'WBC', 'pH', 'MechVent', 'survival', 'SBP', 'DBP', 'MBP', 'male',
       'female', 'surv_los', 'LOS', 'labels', 'ICUType_1.0', 'ICUType_2.0',
       'ICUType_3.0', 'ICUType_4.0', 'ALP_mask', 'ALT_mask', 'AST_mask',
       'Albumin_mask', 'BUN_mask', 'Bilirubin_mask', 'Cholesterol_mask',
       'Creatinine_mask', 'FiO2_mask', 'GCS_mask', 'Glucose_mask', 'HCO3_mask',
       'HCT_mask', 'HR_mask', 'K_mask', 'Lactate_mask', 'Mg_mask', 'Na_mask',
       'PaCO2_mask', 'PaO2_mask', 'Platelets_mask', 'RR_mask', 'SPO2_mask',
       'BT_mask', 'TroponinI_mask', 'TroponinT_mask', 'Urine_mask', 'WBC_mask',
       'pH_mask', 'MechVent_mask', 'SBP_mask', 'DBP_mask', 'MBP_mask'],
      dtype='object')

In [24]:
#mms = MinMaxScaler()
#mms.fit(va_processed)
#X_valid = mms.transform(va_processed)

In [25]:
#mms = MinMaxScaler()
#mms.fit(test_processed)
#X_test = mms.transform(test_processed)

In [26]:
from sklearn.preprocessing import MinMaxScaler

# minmax scale 적용
mms = MinMaxScaler()
mms.fit(train_processed[input_cols])
X_train = mms.transform(train_processed[input_cols])

mms.fit(va_processed[input_cols])
X_valid = mms.transform(va_processed[input_cols])

mms.fit(test_processed[input_cols])
X_test = mms.transform(test_processed[input_cols])

In [27]:
len(input_cols)

33

In [28]:
mask_cols = [x for x in train_processed.columns if 'mask' in x]

In [29]:
mask_cols

['ALP_mask',
 'ALT_mask',
 'AST_mask',
 'Albumin_mask',
 'BUN_mask',
 'Bilirubin_mask',
 'Cholesterol_mask',
 'Creatinine_mask',
 'FiO2_mask',
 'GCS_mask',
 'Glucose_mask',
 'HCO3_mask',
 'HCT_mask',
 'HR_mask',
 'K_mask',
 'Lactate_mask',
 'Mg_mask',
 'Na_mask',
 'PaCO2_mask',
 'PaO2_mask',
 'Platelets_mask',
 'RR_mask',
 'SPO2_mask',
 'BT_mask',
 'TroponinI_mask',
 'TroponinT_mask',
 'Urine_mask',
 'WBC_mask',
 'pH_mask',
 'MechVent_mask',
 'SBP_mask',
 'DBP_mask',
 'MBP_mask']

In [30]:
X_train_mask = train_processed[mask_cols].values
X_valid_mask = va_processed[mask_cols].values
X_test_mask = test_processed[mask_cols].values

In [31]:
train_processed[input_cols] = X_train
va_processed[input_cols] = X_valid
test_processed[input_cols] = X_test

In [32]:
import numpy as np

In [33]:
X_train = np.concatenate([X_train, X_train_mask], 1)
X_valid = np.concatenate([X_valid, X_valid_mask], 1)
X_test = np.concatenate([X_test, X_test_mask], 1)

In [34]:
X_train.shape

(226800, 66)

In [35]:
X_valid.shape

(25200, 66)

In [36]:
X_test.shape

(28000, 66)

In [37]:
train_processed

,pid,age,Gender,ALP,ALT,AST,Albumin,BUN,Bilirubin,Cholesterol,...,BT_mask,TroponinI_mask,TroponinT_mask,Urine_mask,WBC_mask,pH_mask,MechVent_mask,SBP_mask,DBP_mask,MBP_mask
0,142219.0,52.0,0.0,0.046804,0.003749,0.003928,0.58,0.101523,0.018868,0.466667,...,1,0,0,0,0,0,0,1,1,1
1,142219.0,52.0,0.0,0.046804,0.003749,0.003928,0.58,0.101523,0.018868,0.466667,...,1,0,0,1,0,0,0,1,1,1
2,142219.0,52.0,0.0,0.046804,0.003749,0.003928,0.58,0.101523,0.018868,0.466667,...,1,0,0,0,0,0,0,1,1,1
3,142219.0,52.0,0.0,0.046804,0.003749,0.003928,0.58,0.101523,0.018868,0.466667,...,1,0,0,0,0,0,0,1,1,1
4,142219.0,52.0,0.0,0.046804,0.003749,0.003928,0.58,0.101523,0.018868,0.466667,...,1,0,0,1,0,0,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226795,138581.0,53.0,1.0,0.046804,0.003749,0.003928,0.58,0.091371,0.018868,0.466667,...,1,0,0,0,0,1,0,1,1,1
226796,138581.0,53.0,1.0,0.046804,0.003749,0.003928,0.58,0.091371,0.018868,0.466667,...,1,0,0,1,0,0,0,1,1,1
226797,138581.0,53.0,1.0,0.046804,0.003749,0.003928,0.58,0.091371,0.018868,0.466667,...,1,0,0,0,0,0,0,1,1,1
226798,138581.0,53.0,1.0,0.046804,0.003749,0.003928,0.58,0.091371,0.018868,0.466667,...,1,0,0,1,0,0,0,1,1,1
226799,138581.0,53.0,1.0,0.046804,0.003749,0.003928,0.58,0.091371,0.018868,0.466667,...,1,0,0,0,0,0,0,1,1,1

In [38]:
from tqdm.notebook import tqdm

In [39]:
maxlen = 70

# zero-padding 함수
def zero_padding(dataframe, maxlen, input_cols):
    maxlen = maxlen
    X_train = dataframe
    col_len = len(input_cols)
    X_train = X_train[input_cols]
    data = []
    # 기본정보는 zero_padding에 모두 동일하게 적용되어야 함으로 따로 취급한다. 나머지는 모두 0.0으로 채운다.
    basic_col = 'pid, age, Gender, ICUType, survival, male, female, surv_los, LOS, labels'
    basic_col_list = basic_col.split(', ')
    basic_col_indexer = X_train.columns.get_indexer(basic_col_list)
    basic_col_indexer

    for pid in tqdm(X_train.pid.drop_duplicates().to_numpy()):
        if len(X_train[X_train.pid == pid]) >= 70:
            dummy = X_train[X_train.pid == pid].to_numpy().tolist()
            data.append(dummy[:maxlen])
        else:
            length = len(X_train[X_train.pid == pid])
            base = np.zeros((maxlen, col_len))
            for idx in basic_col_indexer:
                base[:, idx] = X_train[X_train.pid == pid].iloc[0, idx]
            # print(base.shape)
            dummy = X_train[X_train.pid == pid].to_numpy()
            # print(dummy.shape)
            base[-length:] = dummy
            # print(base.shape)
            # base[:length, 0] = pid
            # base[:length, -1] = dummy[0, -1] 
            data.append(base.tolist())
    return np.array(data)[:,:,1:]

data = zero_padding(train_processed, maxlen, ['pid']+input_cols+mask_cols)
valid_data = zero_padding(va_processed, maxlen, ['pid']+input_cols+mask_cols)
test_data = zero_padding(test_processed, maxlen, ['pid']+input_cols+mask_cols)

  0%|          | 0/3240 [00:00<?, ?it/s]

  0%|          | 0/360 [00:00<?, ?it/s]

  0%|          | 0/400 [00:00<?, ?it/s]

In [40]:
df5_label = pd.read_csv('df5_label.csv')
valid_df5_label = pd.read_csv('valid_df5_label.csv')
test_df5_laebl = pd.read_csv('test_df5_laebl.csv')

In [41]:
train_processed

,pid,age,Gender,ALP,ALT,AST,Albumin,BUN,Bilirubin,Cholesterol,...,BT_mask,TroponinI_mask,TroponinT_mask,Urine_mask,WBC_mask,pH_mask,MechVent_mask,SBP_mask,DBP_mask,MBP_mask
0,142219.0,52.0,0.0,0.046804,0.003749,0.003928,0.58,0.101523,0.018868,0.466667,...,1,0,0,0,0,0,0,1,1,1
1,142219.0,52.0,0.0,0.046804,0.003749,0.003928,0.58,0.101523,0.018868,0.466667,...,1,0,0,1,0,0,0,1,1,1
2,142219.0,52.0,0.0,0.046804,0.003749,0.003928,0.58,0.101523,0.018868,0.466667,...,1,0,0,0,0,0,0,1,1,1
3,142219.0,52.0,0.0,0.046804,0.003749,0.003928,0.58,0.101523,0.018868,0.466667,...,1,0,0,0,0,0,0,1,1,1
4,142219.0,52.0,0.0,0.046804,0.003749,0.003928,0.58,0.101523,0.018868,0.466667,...,1,0,0,1,0,0,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226795,138581.0,53.0,1.0,0.046804,0.003749,0.003928,0.58,0.091371,0.018868,0.466667,...,1,0,0,0,0,1,0,1,1,1
226796,138581.0,53.0,1.0,0.046804,0.003749,0.003928,0.58,0.091371,0.018868,0.466667,...,1,0,0,1,0,0,0,1,1,1
226797,138581.0,53.0,1.0,0.046804,0.003749,0.003928,0.58,0.091371,0.018868,0.466667,...,1,0,0,0,0,0,0,1,1,1
226798,138581.0,53.0,1.0,0.046804,0.003749,0.003928,0.58,0.091371,0.018868,0.466667,...,1,0,0,1,0,0,0,1,1,1
226799,138581.0,53.0,1.0,0.046804,0.003749,0.003928,0.58,0.091371,0.018868,0.466667,...,1,0,0,0,0,0,0,1,1,1

In [42]:
pro_train=pd.concat([train_processed,df5_label],axis=1)

In [43]:
pro_valid = pd.concat([va_processed,valid_df5_label],axis=1)

In [44]:
pro_test = pd.concat([test_processed,test_df5_laebl],axis=1)

In [45]:
pro_train

,pid,age,Gender,ALP,ALT,AST,Albumin,BUN,Bilirubin,Cholesterol,...,TroponinT_mask,Urine_mask,WBC_mask,pH_mask,MechVent_mask,SBP_mask,DBP_mask,MBP_mask,Unnamed: 0,labels
0,142219.0,52.0,0.0,0.046804,0.003749,0.003928,0.58,0.101523,0.018868,0.466667,...,0,0,0,0,0,1,1,1,0,0.0
1,142219.0,52.0,0.0,0.046804,0.003749,0.003928,0.58,0.101523,0.018868,0.466667,...,0,1,0,0,0,1,1,1,1,0.0
2,142219.0,52.0,0.0,0.046804,0.003749,0.003928,0.58,0.101523,0.018868,0.466667,...,0,0,0,0,0,1,1,1,2,0.0
3,142219.0,52.0,0.0,0.046804,0.003749,0.003928,0.58,0.101523,0.018868,0.466667,...,0,0,0,0,0,1,1,1,3,0.0
4,142219.0,52.0,0.0,0.046804,0.003749,0.003928,0.58,0.101523,0.018868,0.466667,...,0,1,0,0,0,1,1,1,4,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226795,138581.0,53.0,1.0,0.046804,0.003749,0.003928,0.58,0.091371,0.018868,0.466667,...,0,0,0,1,0,1,1,1,226795,1.0
226796,138581.0,53.0,1.0,0.046804,0.003749,0.003928,0.58,0.091371,0.018868,0.466667,...,0,1,0,0,0,1,1,1,226796,1.0
226797,138581.0,53.0,1.0,0.046804,0.003749,0.003928,0.58,0.091371,0.018868,0.466667,...,0,0,0,0,0,1,1,1,226797,1.0
226798,138581.0,53.0,1.0,0.046804,0.003749,0.003928,0.58,0.091371,0.018868,0.466667,...,0,1,0,0,0,1,1,1,226798,1.0
226799,138581.0,53.0,1.0,0.046804,0.003749,0.003928,0.58,0.091371,0.018868,0.466667,...,0,0,0,0,0,1,1,1,226799,1.0

In [46]:
pro_train = pro_train.iloc[:,:-1]
pro_valid = pro_valid.iloc[:,:-1]
pro_test = pro_test.iloc[:,:-1]

In [47]:
pro_train = pro_train.drop(['Unnamed: 0'],axis=1)

In [48]:
pro_valid = pro_valid.drop(['Unnamed: 0'],axis=1)

In [49]:
pro_test = pro_test.drop(['Unnamed: 0'],axis=1)

In [50]:
important_columns = ['age', 'AST', 'Albumin', 'BUN', 'Bilirubin', 'Creatinine', 'GCS', 'Lactate', 'Platelets', 'WBC']

In [51]:
vital = ['HR','RR','SPO2','SBP','DBP','MBP','BT']

In [ ]:
# 빈 리스트 만들기

In [181]:
# splitting dataset(original)
train_X = pro_train[input_cols].values
train_y = pro_train['labels'].values

valid_X = pro_valid[input_cols].values
valid_y = pro_valid['labels'].values

test_X = pro_test[input_cols].values
test_y = pro_test['labels'].values

# type
train_X = train_X.astype(float)
train_y = train_y.astype(int)

valid_X = valid_X.astype(float)
valid_y = valid_y.astype(int)

test_X = test_X.astype(float)
test_y = test_y.astype(int)

In [120]:
# splitting dataset(original+mask)
train_X_original_mask = pro_train[input_cols+mask_cols].values
train_y_original_mask = pro_train['labels'].values

valid_X_original_mask = pro_valid[input_cols+mask_cols].values
valid_y_original_mask = pro_valid['labels'].values

test_X_original_mask = pro_test[input_cols+mask_cols].values
test_y_original_mask= pro_test['labels'].values

# type
train_X_original_mask = train_X.astype(float)
train_y_original_mask = train_y.astype(int)

valid_X_original_mask = valid_X.astype(float)
valid_y_original_mask = valid_y.astype(int)

test_X_original_mask = test_X.astype(float)
test_y_original_mask = test_y.astype(int)

In [135]:
#splitting dataset(vital)
train_X = pro_train[vital].values
train_y = pro_train['labels'].values

valid_X = pro_valid[vital].values
valid_y = pro_valid['labels'].values

test_X = pro_test[vital].values
test_y = pro_test['labels'].values

# type
train_X = train_X.astype(float)
train_y = train_y.astype(int)

valid_X = valid_X.astype(float)
valid_y = valid_y.astype(int)

test_X = test_X.astype(float)
test_y = test_y.astype(int)

In [150]:
#splitting dataset(mask+vital)
train_X = pro_train[mask_cols+vital].values
train_y = pro_train['labels'].values

valid_X = pro_valid[mask_cols+vital].values
valid_y = pro_valid['labels'].values

test_X = pro_test[mask_cols+vital].values
test_y = pro_test['labels'].values

# type
train_X = train_X.astype(float)
train_y = train_y.astype(int)

valid_X = valid_X.astype(float)
valid_y = valid_y.astype(int)

test_X = test_X.astype(float)
test_y = test_y.astype(int)

In [165]:
# splitting dataset(important_original+vital)
train_X_ = pro_train[important_columns+vital].values
train_y = pro_train['labels'].values

valid_X = pro_valid[important_columns+vital].values
valid_y = pro_valid['labels'].values

test_X = pro_test[important_columns+vital].values
test_y = pro_test['labels'].values

# type
train_X = train_X.astype(float)
train_y = train_y.astype(int)

valid_X = valid_X.astype(float)
valid_y = valid_y.astype(int)

test_X = test_X.astype(float)
test_y = test_y.astype(int)

In [52]:
# splitting dataset(important+mask+vital)
train_X = pro_train[important_columns+mask_cols+vital].values
train_y = pro_train['labels'].values

valid_X = pro_valid[important_columns+mask_cols+vital].values
valid_y = pro_valid['labels'].values

test_X = pro_test[important_columns+mask_cols+vital].values
test_y = pro_test['labels'].values

# type
train_X = train_X.astype(float)
train_y = train_y.astype(int)

valid_X = valid_X.astype(float)
valid_y = valid_y.astype(int)

test_X = test_X.astype(float)
test_y = test_y.astype(int)

In [53]:
# imbalanced-learn 패키지
# SMOTE는 Synthetic Minority Over-sampling Technique으로, 
#소수 집단의 데이터를 바탕으로 새로운 데이터를 만들어 냅니다. 
#단순히 소수 집단에서 복원 추출을 하는 것이 아니라 소수 집단에 속한 데이터를 분석해 어떤 특징들이 있는지 살피고, 그와 유사한 패턴을 갖는 가짜 데이터를 만드는 것.
from imblearn.over_sampling import *
from imblearn.over_sampling import SMOTE

# 검증 데이터나 테스트 데이터가 아닌 학습데이터에서만 오버샘플링 사용할 것
# smote = SMOTE(random_state=0)
train_X_over, train_y_over = SMOTE(random_state=0).fit_resample(train_X, train_y)

In [54]:
# reshape

print(train_X_over.shape, train_y_over.shape)
print(valid_X.shape, valid_y.shape)
print(test_X.shape, test_y.shape)

(393820, 50) (393820,)
(25200, 50) (25200,)
(28000, 50) (28000,)

In [55]:
max_len = 70

train_X_3d = train_X_over.reshape(-1, max_len, train_X_over.shape[-1])
train_y_3d = train_y_over[::70]
valid_X_3d = valid_X.reshape(-1, max_len, valid_X.shape[-1])
valid_y_3d = valid_y[::70]
test_X_3d = test_X.reshape(-1, max_len, test_X.shape[-1])
test_y_3d = test_y[::70]

In [56]:
print(train_X_3d.shape, train_y_3d.shape)
print(valid_X_3d.shape, valid_y_3d.shape)
print(test_X_3d.shape, test_y_3d.shape)

(5626, 70, 50) (5626,)
(360, 70, 50) (360,)
(400, 70, 50) (400,)

In [57]:
feature_dim = train_X_over.shape[-1]

In [58]:
from keras.layers.pooling.global_max_pooling1d import GlobalMaxPooling1D
# setup
import tensorflow as tf
from tensorflow import keras
from sklearn.metrics import roc_auc_score

from keras import layers
from keras import Sequential, Model
#from keras.preprocessing.sequence import pad_sequences
from pprint import pprint
from keras.models import Sequential
from keras.layers import Dense, Dropout, BatchNormalization, SimpleRNN, LSTM, Bidirectional, BatchNormalization, Activation, GRU, Flatten, Conv1D, GlobalMaxPooling1D
from keras.layers import Dense, Conv1D, MaxPooling1D, Flatten, BatchNormalization
from keras.callbacks import EarlyStopping 
from keras.optimizers import RMSprop, Adam
from keras import models
from keras import layers
from keras.preprocessing import sequence
from keras.utils.np_utils import to_categorical
from keras.utils import np_utils
from keras.utils.np_utils import to_categorical


from keras.models import Sequential, Model, load_model
from keras.layers import Input, Dense, Activation, Flatten, Dropout
from keras.layers import SimpleRNN, LSTM, GRU

In [59]:
cnn_model = Sequential()
cnn_model.add(Conv1D(filters=32, kernel_size=4, activation='relu', input_shape=(maxlen, feature_dim)))
cnn_model.add(Dropout(0.2))
cnn_model.add(Conv1D(filters=32, kernel_size=2, activation='relu'))
cnn_model.add(Dropout(0.2))
cnn_model.add(Dense(64, activation='relu'))
cnn_model.add(Dropout(0.5))
cnn_model.add(Flatten())
cnn_model.add(Dense(128, activation='relu'))
cnn_model.add(Dropout(0.2))
cnn_model.add(Dense(32, activation='relu'))
cnn_model.add(Dropout(0.5))
cnn_model.add(Dense(8, activation='relu'))
cnn_model.add(Dense(1, activation='sigmoid'))
cnn_model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['acc', 'AUC'])

In [60]:
cnn_model_history = cnn_model.fit(train_X_3d, train_y_3d, epochs=10, batch_size=50, validation_data=(valid_X_3d, valid_y_3d), verbose=1)
cnn_history = cnn_model_history.history

Epoch 1/10
113/113 [==============================] - 7s 44ms/step - loss: 0.7444 - acc: 0.5180 - auc: 0.5260 - val_loss: 0.6864 - val_acc: 0.8639 - val_auc: 0.5000
Epoch 2/10
113/113 [==============================] - 4s 38ms/step - loss: 0.3373 - acc: 0.8791 - auc: 0.9132 - val_loss: 0.4531 - val_acc: 0.8639 - val_auc: 0.4165
Epoch 3/10
113/113 [==============================] - 3s 29ms/step - loss: 0.2510 - acc: 0.9188 - auc: 0.9261 - val_loss: 0.4153 - val_acc: 0.8639 - val_auc: 0.6564
Epoch 4/10
113/113 [==============================] - 5s 41ms/step - loss: 0.2476 - acc: 0.9202 - auc: 0.9286 - val_loss: 0.4359 - val_acc: 0.8639 - val_auc: 0.4646
Epoch 5/10
113/113 [==============================] - 3s 26ms/step - loss: 0.2360 - acc: 0.9234 - auc: 0.9299 - val_loss: 0.4582 - val_acc: 0.8639 - val_auc: 0.6677
Epoch 6/10
113/113 [==============================] - 3s 26ms/step - loss: 0.2337 - acc: 0.9237 - auc: 0.9319 - val_loss: 0.4097 - val_acc: 0.8639 - val_auc: 0.6944
Epoch 7/10
113/113 [==============================] - 3s 27ms/step - loss: 0.2236 - acc: 0.9243 - auc: 0.9413 - val_loss: 0.3928 - val_acc: 0.8639 - val_auc: 0.7029
Epoch 8/10
113/113 [==============================] - 3s 30ms/step - loss: 0.2204 - acc: 0.9245 - auc: 0.9448 - val_loss: 0.3891 - val_acc: 0.8639 - val_auc: 0.7137
Epoch 9/10
113/113 [==============================] - 3s 27ms/step - loss: 0.2221 - acc: 0.9246 - auc: 0.9420 - val_loss: 0.4158 - val_acc: 0.8639 - val_auc: 0.7231
Epoch 10/10
113/113 [==============================] - 4s 33ms/step - loss: 0.2217 - acc: 0.9241 - auc: 0.9430 - val_loss: 0.4011 - val_acc: 0.8639 - val_auc: 0.7383

In [61]:
# cnn2(maxpooling)
cnn2_model = Sequential()
cnn2_model.add(Conv1D(filters=128, kernel_size=3, activation='relu', input_shape=(max_len, feature_dim)))
cnn2_model.add(MaxPooling1D())
cnn2_model.add(Conv1D(64, kernel_size=3, activation='relu'))
cnn2_model.add(Flatten())
cnn2_model.add(Dense(16, activation='relu'))
cnn2_model.add(BatchNormalization())
cnn2_model.add(Dropout(0.2))
cnn2_model.add(Dense(1, activation='sigmoid'))
cnn2_model.compile(optimizer=Adam(lr=0.0001), loss='binary_crossentropy', metrics=[tf.keras.metrics.AUC(curve="ROC", name='auroc')])

/usr/local/lib/python3.8/dist-packages/keras/optimizers/optimizer_v2/adam.py:110: UserWarning: The `lr` argument is deprecated, use `learning_rate` instead.
  super(Adam, self).__init__(name, **kwargs)

In [62]:
cnn2_model_history = cnn2_model.fit(train_X_3d, train_y_3d, epochs=10, batch_size=50, validation_data=(valid_X_3d, valid_y_3d), verbose=1)
cnn2_history = cnn2_model_history.history

Epoch 1/10
113/113 [==============================] - 5s 34ms/step - loss: 0.3191 - auroc: 0.9354 - val_loss: 0.5592 - val_auroc: 0.6374
Epoch 2/10
113/113 [==============================] - 4s 36ms/step - loss: 0.2766 - auroc: 0.9378 - val_loss: 0.3997 - val_auroc: 0.6530
Epoch 3/10
113/113 [==============================] - 3s 29ms/step - loss: 0.2659 - auroc: 0.9416 - val_loss: 0.7519 - val_auroc: 0.6388
Epoch 4/10
113/113 [==============================] - 3s 30ms/step - loss: 0.2726 - auroc: 0.9414 - val_loss: 0.5795 - val_auroc: 0.6615
Epoch 5/10
113/113 [==============================] - 3s 25ms/step - loss: 0.2642 - auroc: 0.9423 - val_loss: 0.3857 - val_auroc: 0.7025
Epoch 6/10
113/113 [==============================] - 3s 30ms/step - loss: 0.2546 - auroc: 0.9469 - val_loss: 0.3752 - val_auroc: 0.7225
Epoch 7/10
113/113 [==============================] - 3s 25ms/step - loss: 0.2495 - auroc: 0.9479 - val_loss: 0.4230 - val_auroc: 0.6430
Epoch 8/10
113/113 [==============================] - 3s 25ms/step - loss: 0.2464 - auroc: 0.9480 - val_loss: 0.6163 - val_auroc: 0.7060
Epoch 9/10
113/113 [==============================] - 3s 27ms/step - loss: 0.2386 - auroc: 0.9524 - val_loss: 0.6358 - val_auroc: 0.7150
Epoch 10/10
113/113 [==============================] - 3s 25ms/step - loss: 0.2337 - auroc: 0.9548 - val_loss: 0.3731 - val_auroc: 0.7550

In [63]:
# predict
cnn_pred = cnn_model.predict(test_X_3d)
cnn2_pred = cnn2_model.predict(test_X_3d)

13/13 [==============================] - 0s 5ms/step
13/13 [==============================] - 0s 6ms/step

In [196]:
# score(original)
from sklearn.metrics import precision_score, recall_score, f1_score, roc_curve, roc_auc_score, accuracy_score
from sklearn.metrics import precision_recall_curve, roc_curve, classification_report, accuracy_score, roc_auc_score, average_precision_score
print('CNN_ROC AUC Score: ', roc_auc_score(test_y_3d, cnn_pred))
print('CNN2_ROC AUC Score: ', roc_auc_score(test_y_3d, cnn2_pred))

CNN_ROC AUC Score:  0.685842175066313
CNN2_ROC AUC Score:  0.7598364279398763

In [134]:
# score(original+mask)
from sklearn.metrics import precision_score, recall_score, f1_score, roc_curve, roc_auc_score, accuracy_score
from sklearn.metrics import precision_recall_curve, roc_curve, classification_report, accuracy_score, roc_auc_score, average_precision_score
print('CNN_ROC AUC Score: ', roc_auc_score(test_y_3d, cnn_pred))
print('CNN2_ROC AUC Score: ', roc_auc_score(test_y_3d, cnn2_pred))

CNN_ROC AUC Score:  0.5581067639257294
CNN2_ROC AUC Score:  0.6399756852343058

In [149]:
#score(vital)
from sklearn.metrics import precision_score, recall_score, f1_score, roc_curve, roc_auc_score, accuracy_score
from sklearn.metrics import precision_recall_curve, roc_curve, classification_report, accuracy_score, roc_auc_score, average_precision_score
print('CNN_ROC AUC Score: ', roc_auc_score(test_y_3d, cnn_pred))
print('CNN2_ROC AUC Score: ', roc_auc_score(test_y_3d, cnn2_pred))

CNN_ROC AUC Score:  0.5534924845269673
CNN2_ROC AUC Score:  0.5547082228116711

In [164]:
#score(mask+vital)
from sklearn.metrics import precision_score, recall_score, f1_score, roc_curve, roc_auc_score, accuracy_score
from sklearn.metrics import precision_recall_curve, roc_curve, classification_report, accuracy_score, roc_auc_score, average_precision_score
print('CNN_ROC AUC Score: ', roc_auc_score(test_y_3d, cnn_pred))
print('CNN2_ROC AUC Score: ', roc_auc_score(test_y_3d, cnn2_pred))

CNN_ROC AUC Score:  0.5097811671087533
CNN2_ROC AUC Score:  0.5914014146772768

In [180]:
# score(important+vital)
from sklearn.metrics import precision_score, recall_score, f1_score, roc_curve, roc_auc_score, accuracy_score
from sklearn.metrics import precision_recall_curve, roc_curve, classification_report, accuracy_score, roc_auc_score, average_precision_score
print('CNN_ROC AUC Score: ', roc_auc_score(test_y_3d, cnn_pred))
print('CNN2_ROC AUC Score: ', roc_auc_score(test_y_3d, cnn2_pred))

CNN_ROC AUC Score:  0.7735411140583555
CNN2_ROC AUC Score:  0.7902298850574713

In [64]:
# score(importantl+mask+vital)
from sklearn.metrics import precision_score, recall_score, f1_score, roc_curve, roc_auc_score, accuracy_score
from sklearn.metrics import precision_recall_curve, roc_curve, classification_report, accuracy_score, roc_auc_score, average_precision_score
print('CNN_ROC AUC Score: ', roc_auc_score(test_y_3d, cnn_pred))
print('CNN2_ROC AUC Score: ', roc_auc_score(test_y_3d, cnn2_pred))

CNN_ROC AUC Score:  0.7731542882404951
CNN2_ROC AUC Score:  0.7911693191865606