In [25]:
import pandas as pd

In [26]:
df = pd.read_csv('C:/project/physionet2012/physionet2012_test.csv', encoding='cp949')

In [27]:
df

,Unnamed: 0,pid,rec_time,age,Gender,ICUType,ALP,ALT,AST,Albumin,...,pH,MechVent,survival,SBP,DBP,MBP,male,female,surv_los,LOS
0,0,135089,0:00:00,90.0,1.0,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,-1,116.0,58.0,77.0,1,0,-7,6
1,1,135089,0:44:00,90.0,1.0,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,-1,116.0,58.0,77.0,1,0,-7,6
2,2,135089,2:09:00,90.0,1.0,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,-1,116.0,58.0,77.0,1,0,-7,6
3,3,135089,2:10:00,90.0,1.0,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,-1,116.0,58.0,77.0,1,0,-7,6
4,4,135089,2:15:00,90.0,1.0,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,-1,116.0,58.0,77.0,1,0,-7,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29549,29549,135219,22:45:00,78.0,0.0,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,2011,134.0,51.0,79.0,1,0,2002,9
29550,29550,135219,22:49:00,78.0,0.0,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,2011,132.0,50.0,78.0,1,0,2002,9
29551,29551,135219,23:45:00,78.0,0.0,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,2011,139.0,54.0,84.0,1,0,2002,9
29552,29552,135219,"1 day, 12:28:00",78.0,0.0,4.0,NaN,NaN,NaN,NaN,...,7.37,NaN,2011,139.0,54.0,84.0,1,0,2002,9
29553,29553,135219,"1 day, 13:15:00",78.0,0.0,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,2011,139.0,54.0,84.0,1,0,2002,9

In [28]:
# 타겟 컬럼 추가
df['target'] = 4

df.loc[df['survival']>df['LOS'], 'target'] = 0
df.loc[df['survival']<=df['LOS'], 'target'] = 1
df.loc[df['survival']==-1, 'target'] = 0
df.loc[df['survival']==0, 'target'] = 3
df.loc[df['survival']==1, 'target'] = 3

In [29]:
# target값이 3인사람 제거
print(len(df[df['target']==3]['pid'].unique()),'명의 pid가 있습니다.')
print(df[df['target']==3].shape[0],'개의 데이터가 있습니다.')
df = df.drop(df[df['target']==3].index)

3 명의 pid가 있습니다.
206 개의 데이터가 있습니다.

In [30]:
# gender가 -1인 사람 제거
print(len(df[df['Gender']==-1]['pid'].unique()),'명의 pid가 있습니다.')
print(len(df[df['Gender']==-1]),'개의 데이터가 있습니다.')
df = df.drop(df[df['Gender']==-1].index)

print(len(df['pid'].unique()), '명의 데이터로 분석진행')

0 명의 pid가 있습니다.
0 개의 데이터가 있습니다.
397 명의 데이터로 분석진행

In [31]:
# 사용하지 않는 6개 컬럼 제거
df = df.drop(['Unnamed: 0','male', 'female', 'surv_los','survival','LOS'], axis = 1)

In [32]:
# missing value 에서 찾은 90%이상 na인 데이터 6개는 제거

df = df.drop(['pH', 'PaCO2', 'PaO2', 'HCT', 'K', 'Platelets', 'Creatinine', 'BUN',
 'Mg', 'HCO3', 'Na', 'Glucose', 'WBC', 'Lactate', 'AST', 'Bilirubin', 'ALT',
 'ALP', 'Albumin', 'TroponinT', 'TroponinI', 'Cholesterol', 'TropT', 'Tropl'], axis=1)

In [33]:
df['pid'][0]

135089

In [34]:
for i in df:
    df[df['pid']==df['pid'][0]].fillna(method='ffill', axis = 0)
    df = df.fillna(df.median())
df

c:\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  This is separate from the ipykernel package so we can avoid doing imports until

,pid,rec_time,age,Gender,ICUType,FiO2,GCS,HR,RR,SPO2,BT,Urine,MechVent,SBP,DBP,MBP,target
0,135089,0:00:00,90.0,1.0,3.0,0.5,14.0,86.0,19.0,97.0,37.1,75.0,1.0,116.0,58.0,77.0,0
1,135089,0:44:00,90.0,1.0,3.0,0.5,14.0,86.0,19.0,97.0,37.1,75.0,1.0,116.0,58.0,77.0,0
2,135089,2:09:00,90.0,1.0,3.0,0.5,14.0,130.0,28.0,97.0,38.7,75.0,1.0,116.0,58.0,77.0,0
3,135089,2:10:00,90.0,1.0,3.0,0.5,14.0,130.0,22.0,97.0,38.7,75.0,1.0,116.0,58.0,77.0,0
4,135089,2:15:00,90.0,1.0,3.0,0.5,14.0,123.0,23.0,97.0,38.7,75.0,1.0,116.0,58.0,77.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29549,135219,22:45:00,78.0,0.0,4.0,0.5,14.0,59.0,22.0,98.0,37.6,35.0,1.0,134.0,51.0,79.0,0
29550,135219,22:49:00,78.0,0.0,4.0,0.5,14.0,60.0,22.0,98.0,37.6,75.0,1.0,132.0,50.0,78.0,0
29551,135219,23:45:00,78.0,0.0,4.0,0.5,14.0,66.0,18.0,98.0,37.7,45.0,1.0,139.0,54.0,84.0,0
29552,135219,"1 day, 12:28:00",78.0,0.0,4.0,0.5,14.0,66.0,18.0,98.0,37.7,75.0,1.0,139.0,54.0,84.0,0
29553,135219,"1 day, 13:15:00",78.0,0.0,4.0,0.5,14.0,66.0,18.0,98.0,37.7,75.0,1.0,139.0,54.0,84.0,0

In [35]:
test_df = df

In [36]:
test_X = test_df.iloc[:,:-1]
test_y = test_df.iloc[:,-1]

In [37]:
def timetosecond(df):
    # 일자와 시분초 구분
    splited_time = []
    for i in df['rec_time']:
        time = i.split(',')         # 1day와 시간 구분
        time = list(reversed(time)) # 1day가 뒤로 가게 변경
        splited_time.append(time)
    # 초 단위로 치환
    second_list = []
    for each in splited_time:
        int_list = []
        
        if len(each) == 2:
            time_split = each[0].split(':')    #time_split = [' 0', '14', '00']
            for i in time_split:            # int로 변환
                element = int(i)
                int_list.append(element) # int_list = [ 0, 14, 00]
            int_list[0] = int_list[0]+24

        else:
            time_split = each[0].split(':')
            for i in time_split:        # int로 변환
                element = int(i)
                int_list.append(element)

        h_to_m = int_list[0]*60
        m = int_list[1] + h_to_m
        second = m*60 + int_list[2]
        second_list.append(second)
    # 초단위를 rec_time에 넣기
    rec_second = pd.DataFrame(second_list, columns={'rec_second'})
    df['rec_time'] = rec_second
    # 피드순, 시간 순 정렬
    df.sort_values(by=['pid','rec_time'])
        
    return df

In [38]:
df = test_X

In [39]:
test_X = timetosecond(test_X)

In [40]:
# # 1. Respiration Rate
# df['RR']
# # 2. Oxygen Saturations
# df['SPO2']
# # 3. Any Supplemental Oxygen    ?
# df['MechVent']
# # 4. Temperature
# df['BT']
# # 5. Systolic Blood Pressure
# df['SBP']
# # 6. Heart Rate (BPM) pu
# df['HR']
# # 7. Level of Consciousness
# df['GCS']

In [41]:
df.loc[df['RR']<=8, 'rr_score'] = 3
df.loc[(df['RR']>=9) & (df['RR']<=11), 'rr_score'] = 1
df.loc[(df['RR']>=12) & (df['RR']<=20), 'rr_score'] = 0
df.loc[(df['RR']>=21) & (df['RR']<=24), 'rr_score'] = 2
df.loc[df['RR']>=25, 'rr_score'] = 3

df.loc[df['SPO2']<=91, 'os_score'] = 3
df.loc[(df['SPO2']>=92) & (df['SPO2']<=93), 'os_score'] = 2
df.loc[(df['SPO2']>=94) & (df['SPO2']<=95), 'os_score'] = 1
df.loc[df['SPO2']>=96, 'os_score'] = 0


df.loc[df['BT']<=35, 'bt_score'] = 3
df.loc[(df['BT']>=35.1)&(df['BT']<=36.0) , 'bt_score'] = 1
df.loc[(df['BT']>=36.1)&(df['BT']<=38.0) , 'bt_score'] = 0
df.loc[(df['BT']>=38.1)&(df['BT']<=39.0) , 'bt_score'] = 1
df.loc[df['BT']>=39.1, 'bt_score'] = 2

df.loc[df['SBP']<=90, 'SBP_score'] = 3
df.loc[(df['SBP']>=91) & (df['SBP']<=100), 'SBP_score'] = 2
df.loc[(df['SBP']>=101) & (df['SBP']<=110), 'SBP_score'] = 1
df.loc[(df['SBP']>=111) & (df['SBP']<=219), 'SBP_score'] = 0
df.loc[df['SBP']>=220, 'SBP_score'] = 3

df.loc[df['HR']<=40, 'HR_score'] = 3
df.loc[(df['HR']>=41) & (df['HR']<=50), 'HR_score'] = 1
df.loc[(df['HR']>=51) & (df['HR']<=90), 'HR_score'] = 0
df.loc[(df['HR']>=91) & (df['HR']<=110), 'HR_score'] = 1
df.loc[(df['HR']>=111) & (df['HR']<=130), 'HR_score'] = 2
df.loc[(df['HR']>=131), 'HR_score'] = 3

df.loc[df['GCS']>=13, 'consciousness_score'] = 0
df.loc[(df['GCS']<=12), 'consciousness_score'] = 3

In [42]:
df['NEWS_score'] = df['rr_score'] + df['os_score'] + df['bt_score'] + df['SBP_score'] + df['HR_score'] + df['consciousness_score']

In [43]:
df = df.drop(['rr_score', 'os_score', 'bt_score', 'SBP_score', 'HR_score', 'consciousness_score'], axis = 1)

In [44]:
df

,pid,rec_time,age,Gender,ICUType,FiO2,GCS,HR,RR,SPO2,BT,Urine,MechVent,SBP,DBP,MBP,NEWS_score
0,135089,0.0,90.0,1.0,3.0,0.5,14.0,86.0,19.0,97.0,37.1,75.0,1.0,116.0,58.0,77.0,0.0
1,135089,2640.0,90.0,1.0,3.0,0.5,14.0,86.0,19.0,97.0,37.1,75.0,1.0,116.0,58.0,77.0,0.0
2,135089,7740.0,90.0,1.0,3.0,0.5,14.0,130.0,28.0,97.0,38.7,75.0,1.0,116.0,58.0,77.0,6.0
3,135089,7800.0,90.0,1.0,3.0,0.5,14.0,130.0,22.0,97.0,38.7,75.0,1.0,116.0,58.0,77.0,5.0
4,135089,8100.0,90.0,1.0,3.0,0.5,14.0,123.0,23.0,97.0,38.7,75.0,1.0,116.0,58.0,77.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29549,135219,NaN,78.0,0.0,4.0,0.5,14.0,59.0,22.0,98.0,37.6,35.0,1.0,134.0,51.0,79.0,2.0
29550,135219,NaN,78.0,0.0,4.0,0.5,14.0,60.0,22.0,98.0,37.6,75.0,1.0,132.0,50.0,78.0,2.0
29551,135219,NaN,78.0,0.0,4.0,0.5,14.0,66.0,18.0,98.0,37.7,45.0,1.0,139.0,54.0,84.0,0.0
29552,135219,NaN,78.0,0.0,4.0,0.5,14.0,66.0,18.0,98.0,37.7,75.0,1.0,139.0,54.0,84.0,0.0
29553,135219,NaN,78.0,0.0,4.0,0.5,14.0,66.0,18.0,98.0,37.7,75.0,1.0,139.0,54.0,84.0,0.0

In [45]:
import numpy as np
news_max_score_list = []
news_min_score_list = []
news_mean_score_list = []
news_median_score_list = []
for i in df['pid'].unique():
    news_max_score_list.append(np.max(df[df['pid']==i]['NEWS_score']))
    news_min_score_list.append(np.min(df[df['pid']==i]['NEWS_score']))
    news_mean_score_list.append(np.mean(df[df['pid']==i]['NEWS_score']))
    news_median_score_list.append(np.median(df[df['pid']==i]['NEWS_score']))

In [47]:
test_y_list = []
for pid in test_df['pid'].unique():
    test_y_list.append(test_df[test_df['pid']== pid]['target'].values[0])

In [48]:
from sklearn.metrics import roc_curve, roc_auc_score, auc
from sklearn import metrics

In [49]:
max_auroc_score = metrics.roc_auc_score(test_y_list, news_max_score_list)
min_auroc_score = metrics.roc_auc_score(test_y_list, news_min_score_list)
mean_auroc_score = metrics.roc_auc_score(test_y_list, news_mean_score_list)
median_auroc_score = metrics.roc_auc_score(test_y_list, news_median_score_list)

print(max_auroc_score)
print(min_auroc_score)
print(mean_auroc_score)
print(median_auroc_score)

0.6289297658862878
0.5081661092530658
0.6625139353400223
0.6232162764771461

In [ ]:
from sklearn.metrics import RocCurveDisplay

In [53]:
from sklearn.metrics import RocCurveDisplay 
import matplotlib.pyplot as plt

RocCurveDisplay.from_predictions(test_y_list, news_mean_score_list, name='SOFA')
plt.show()

ImportError: cannot import name 'RocCurveDisplay' from 'sklearn.metrics' (c:\Anaconda3\lib\site-packages\sklearn\metrics\__init__.py)

In [50]:
metrics.roc_auc_score(df['NEWS_score'])

TypeError: roc_auc_score() missing 1 required positional argument: 'y_score'

In [54]:
import sklearn
sklearn.__version__

'0.21.3'