In [18]:
import pandas as pd

a = pd.read_csv('C:/project/physionet2012/physionet2012_train.csv', encoding='cp949')

In [19]:
df = pd.DataFrame()
for col in a.columns:
    b = [[col, round(100 * (a[col].isnull().sum() / a[col].shape[0]),2)]]
    b = pd.DataFrame(b)
    df = pd.concat([df,b])
    # print(b)

In [21]:
df.columns = ['var', 'percent']

In [22]:
sorted_df = df.sort_values('percent')

In [23]:
sorted_df

           var  percent
0   Unnamed: 0     0.00
0       female     0.00
0         male     0.00
0          MBP     0.00
0          DBP     0.00
0          SBP     0.00
0     survival     0.00
0           BT     0.00
0         SPO2     0.00
0           RR     0.00
0     surv_los     0.00
0           HR     0.00
0          LOS     0.00
0       Gender     0.00
0      ICUType     0.00
0          age     0.00
0          pid     0.00
0     rec_time     0.00
0        Urine    54.71
0          GCS    79.41
0         FiO2    89.23
0     MechVent    89.65
0           pH    91.89
0        PaCO2    92.25
0         PaO2    92.26
0          HCT    93.92
0            K    95.21
0    Platelets    95.31
0   Creatinine    95.35
0          BUN    95.38
0           Mg    95.47
0         HCO3    95.48
0           Na    95.50
0      Glucose    95.67
0          WBC    95.71
0      Lactate    97.33
0          AST    98.95
0    Bilirubin    98.95
0          ALT    98.95
0          ALP    98.98
0      Albumin    99.22
0    TroponinT    99.28
0    TroponinI    99.85
0  Cholesterol    99.89
0        TropT   100.00
0        Tropl   100.00

In [14]:
#90%이상인 컬럼 추출
a = sorted_df[sorted_df['percent']>99]
a['var'].to_list()

['Albumin', 'TroponinT', 'TroponinI', 'Cholesterol', 'TropT', 'Tropl']

In [26]:
a

           var  percent
0           pH    91.89
0        PaCO2    92.25
0         PaO2    92.26
0          HCT    93.92
0            K    95.21
0    Platelets    95.31
0   Creatinine    95.35
0          BUN    95.38
0           Mg    95.47
0         HCO3    95.48
0           Na    95.50
0      Glucose    95.67
0          WBC    95.71
0      Lactate    97.33
0          AST    98.95
0    Bilirubin    98.95
0          ALT    98.95
0          ALP    98.98
0      Albumin    99.22
0    TroponinT    99.28
0    TroponinI    99.85
0  Cholesterol    99.89
0        TropT   100.00
0        Tropl   100.00

In [25]:
#90%이상인 컬럼 추출
a = sorted_df[sorted_df['percent']>90]
a['var'].to_list()

['pH',
 'PaCO2',
 'PaO2',
 'HCT',
 'K',
 'Platelets',
 'Creatinine',
 'BUN',
 'Mg',
 'HCO3',
 'Na',
 'Glucose',
 'WBC',
 'Lactate',
 'AST',
 'Bilirubin',
 'ALT',
 'ALP',
 'Albumin',
 'TroponinT',
 'TroponinI',
 'Cholesterol',
 'TropT',
 'Tropl']

In [24]:
a

,Unnamed: 0,pid,rec_time,age,Gender,ICUType,ALP,ALT,AST,Albumin,...,pH,MechVent,survival,SBP,DBP,MBP,male,female,surv_los,LOS
0,0,142219,0:00:00,52.0,0.0,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,-1,116.0,58.0,77.0,1,0,-8,7
1,1,142219,0:44:00,52.0,0.0,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,-1,116.0,58.0,77.0,1,0,-8,7
2,2,142219,1:14:00,52.0,0.0,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,-1,0.0,0.0,224.0,1,0,-8,7
3,3,142219,1:44:00,52.0,0.0,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,-1,0.0,0.0,135.0,1,0,-8,7
4,4,142219,1:54:00,52.0,0.0,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,-1,217.0,108.0,133.0,1,0,-8,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242608,242608,138581,"1 day, 20:36:00",53.0,1.0,4.0,NaN,NaN,NaN,NaN,...,NaN,1.0,17,114.0,65.0,84.0,1,0,-1,18
242609,242609,138581,"1 day, 21:36:00",53.0,1.0,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,17,111.0,61.0,80.0,1,0,-1,18
242610,242610,138581,"1 day, 22:36:00",53.0,1.0,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,17,109.0,62.0,80.0,1,0,-1,18
242611,242611,138581,"1 day, 23:36:00",53.0,1.0,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,17,111.0,63.0,80.0,1,0,-1,18
242612,242612,138581,"1 day, 23:49:00",53.0,1.0,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,17,111.0,63.0,80.0,1,0,-1,18

In [29]:
#90%이상인 컬럼 추출
b = sorted_df[sorted_df['percent']<90]
b

          var  percent
0  Unnamed: 0     0.00
0      female     0.00
0        male     0.00
0         MBP     0.00
0         DBP     0.00
0         SBP     0.00
0    survival     0.00
0          BT     0.00
0        SPO2     0.00
0          RR     0.00
0    surv_los     0.00
0          HR     0.00
0         LOS     0.00
0      Gender     0.00
0     ICUType     0.00
0         age     0.00
0         pid     0.00
0    rec_time     0.00
0       Urine    54.71
0         GCS    79.41
0        FiO2    89.23
0    MechVent    89.65

In [ ]:
'Urine',
 'GCS',
 'FiO2',
 'MechVent']