In [1]:
import pandas as pd
df = pd.read_csv('C:/project/physionet2012/physionet2012_train.csv', encoding='cp949')

In [3]:
# 타겟 컬럼 추가
df['target'] = 4

df.loc[df['survival']>df['LOS'], 'target'] = 0
df.loc[df['survival']<=df['LOS'], 'target'] = 1
df.loc[df['survival']==-1, 'target'] = 0
df.loc[df['survival']==-0, 'target'] = 3
df.loc[df['survival']==1, 'target'] = 3

In [4]:
df['target'].value_counts()

0    206550
1     34100
3      1963
Name: target, dtype: int64

In [5]:
# 사용하지 않는 5개 컬럼 제거
df = df.drop(['male', 'female', 'surv_los','survival','LOS'], axis = 1)
df.columns

Index(['Unnamed: 0', 'pid', 'rec_time', 'age', 'Gender', 'ICUType', 'ALP',
       'ALT', 'AST', 'Albumin', 'BUN', 'Bilirubin', 'Cholesterol',
       'Creatinine', 'FiO2', 'GCS', 'Glucose', 'HCO3', 'HCT', 'HR', 'K',
       'Lactate', 'Mg', 'Na', 'PaCO2', 'PaO2', 'Platelets', 'RR', 'SPO2', 'BT',
       'Tropl', 'TroponinI', 'TropT', 'TroponinT', 'Urine', 'WBC', 'pH',
       'MechVent', 'SBP', 'DBP', 'MBP', 'target'],
      dtype='object')

In [6]:
# missing value 에서 찾은 90%이상 na인 데이터 6개는 제거

df = df.drop(['pH', 'PaCO2', 'PaO2', 'HCT', 'K', 'Platelets', 'Creatinine', 'BUN',
 'Mg', 'HCO3', 'Na', 'Glucose', 'WBC', 'Lactate', 'AST', 'Bilirubin', 'ALT',
 'ALP', 'Albumin', 'TroponinT', 'TroponinI', 'Cholesterol', 'TropT', 'Tropl'], axis=1)

In [7]:
df.shape

(242613, 18)

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 242613 entries, 0 to 242612
Data columns (total 18 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  242613 non-null  int64
 1   pid         242613 non-null  int64
 2   rec_time    242613 non-null  object
 3   age         242613 non-null  float64
 4   Gender      242613 non-null  float64
 5   ICUType     242613 non-null  float64
 6   FiO2        26127 non-null   float64
 7   GCS         49959 non-null   float64
 8   HR          242613 non-null  float64
 9   RR          242613 non-null  float64
 10  SPO2        242613 non-null  float64
 11  BT          242613 non-null  float64
 12  Urine       109878 non-null  float64
 13  MechVent    25119 non-null   float64
 14  SBP         242613 non-null  float64
 15  DBP         242613 non-null  float64
 16  MBP         242613 non-null  float64
 17  target      242613 non-null  int64
dtypes: float64(14), int64(3), object(1)
memory usage: 33.3+ MB

In [29]:
df[['Urine', 'GCS', 'FiO2', 'MechVent']].describe()

               Urine           GCS          FiO2  MechVent
count  109878.000000  49959.000000  26127.000000   25119.0
mean      119.648183     11.419844      0.545032       1.0
std       181.609236      3.959215      0.189806       0.0
min         0.000000      3.000000      0.210000       1.0
25%        35.000000      8.000000      0.400000       1.0
50%        70.000000     13.000000      0.500000       1.0
75%       140.000000     15.000000      0.600000       1.0
max     11000.000000     15.000000      1.000000       1.0

In [31]:
df['MechVent'].value_counts()

1.0    25119
Name: MechVent, dtype: int64

In [42]:
# 한번도 mech가 없었던 환자는 0으로 채우려고 한다. 그리고 FiO2에도 적용(0이면 21)
a = df[['pid','MechVent']]
b = a.groupby('pid')['MechVent'].mean()
c = b.fillna(0)
print(c)

pid
132540    1.0
132543    0.0
132545    0.0
132547    1.0
132548    0.0
         ...
142664    1.0
142665    1.0
142667    0.0
142670    1.0
142671    1.0
Name: MechVent, Length: 3240, dtype: float64